.eui_lightbox .lb_toggle span,
.eui_lightbox .lb_close,
.eui_lightbox .lb_zoom,
.eui_lightbox .lb_thumb_toggle,
.eui_lightbox .carousel .carousel_arrow span,
.eui_lightbox .lb_zoom{ background:url(../images/lightbox_sprites.png) no-repeat; }

.eui_lightbox_overlay{ background:#000; opacity:0.9; filter:alpha(opacity=90); }
.eui_lightbox{ overflow:hidden; }
.eui_lightbox .lb_wrapper{ width:100%; float:left; height:100%; position:relative; }
.eui_lightbox .lb_head{ height:35px; line-height:35px; }
.eui_lightbox .lb_title{ color:#fff; font-size:14px; font-weight:700; text-align:center; }
.eui_lightbox .lb_body{ width:100%; position:relative; z-index:1; }
.eui_lightbox .lb_imgbox{ position:absolute; top:50%; left:50%; z-index:2; overflow:hidden; }
.eui_lightbox .lb_imgbox img{ position:absolute; top:0; left:0; display:block; }
.eui_lightbox .lb_mainimg{ z-index:2; }
.eui_lightbox .lb_placeholderimg{ z-index:1; display:none; }
.eui_lightbox .lb_loading{ position:absolute; top:50%; left:50%; width:32px; height:32px; margin:-16px 0 0 -16px; background:url(../images/loading.gif) no-repeat 0 0; z-index:1; opacity:0.3; filter:alpha(opacity=30); }
.eui_lightbox .lb_navigator{ width:150px; height:150px; background:#1c1c1c; border:1px solid #333; position:absolute; top:10px; left:10px; z-index:3; }
.eui_lightbox .lb_navbox{ position:absolute; top:50%; left:50%; }
.eui_lightbox .lb_navbox img{ position:absolute; top:0; left:0; display:block; z-index:1; }
.eui_lightbox .lb_navmask{ border:1px solid #ccc; position:absolute; top:0; left:0; z-index:2; }
.eui_lightbox .lb_navmask div{ width:100%; height:100%; opacity:0; filter:alpha(opacity=0); background:#000; }
.eui_lightbox .lb_toggle{ width:63px; height:80%; position:absolute; top:10%; display:block; z-index:3; }
.eui_lightbox .lb_toggle span{ width:23px; height:40px; padding:20px; position:relative; top:50%; left:0; margin-top:-40px; display:block; text-indent:-999em; opacity:0.5; filter:alpha(opacity=50); cursor:pointer; overflow:hidden; _zoom:1; }
.eui_lightbox .lb_toggle:hover span{ opacity:1; filter:alpha(opacity=100); }
.eui_lightbox .lb_prev{ top:10%; left:0; }
.eui_lightbox .lb_next{ top:10%; right:0; }
.eui_lightbox .lb_prev span{ background-position:20px 20px; }
.eui_lightbox .lb_next span{ background-position:-42px 20px; }
.eui_lightbox .lb_toggle_disable{ cursor:default; }
.eui_lightbox .lb_toggle_disable span{ opacity:0.1; filter:alpha(opacity=10); cursor:default; }
.eui_lightbox .lb_toggle_disable:hover span{ opacity:0.1; filter:alpha(opacity=10); }
.eui_lightbox .lb_close{ width:17px; height:15px; padding:10px 20px 10px 30px; background-position:-38px -104px; display:block; position:absolute; right:0; top:0; opacity:0.5; filter:alpha(opacity=50); z-index:5; }
.eui_lightbox .lb_close:hover{ opacity:1; filter:alpha(opacity=100); }
.eui_lightbox .lb_toolbar{ width:100%; height:30px; line-height:30px; text-align:center; background:#222; color:#666; }
.eui_lightbox .lb_toolbarlist{ display:inline-block; *zoom:1; *display:inline; height:30px; overflow:hidden; border-left:1px solid #2a2a2a; }
.eui_lightbox .lb_toolbarlist li{ float:left; border-right:1px solid #2a2a2a; white-space:nowrap; width:auto; _width:1%; }
.eui_lightbox .lb_thumb_toggle{ display:none; height:30px; padding:0 30px 0 20px; text-decoration:none; cursor:pointer; }
.eui_lightbox .lb_thumb_toggle:hover{ background-color:#111; }
.eui_lightbox .lb_thumb_toggle_down{ background-position:88px -126px; }
.eui_lightbox .lb_thumb_toggle_up{ background-position:88px -151px; }
.eui_lightbox .lb_pageation{ padding:0 20px; font-family:arial; display:block; }
.eui_lightbox .lb_page_current{ padding-right:3px; }
.eui_lightbox .lb_page_total{ padding-left:3px; }
.eui_lightbox .lb_zoom{ width:18px; height:30px; padding:0 20px; display:none; cursor:pointer; }
.eui_lightbox .lb_zoom:hover{ background-color:#111; }
.eui_lightbox .lb_zoomin{ background-position:20px -67px; }
.eui_lightbox .lb_zoomout{ background-position:-47px -67px; }
.eui_lightbox .lb_zoom_disable{ opacity:0.1; filter:alpha(opacity=10); cursor:default; }
.eui_lightbox .lb_zoom_disable:hover{ background-color:#222; }

.eui_lightbox .lb_footer{ width:100%; height:100px; text-align:center; background:#111; display:none; }

.eui_lightbox .carousel{ display:inline-block; *zoom:1; *display:inline; margin:13px auto 0; }
.eui_lightbox .carousel:after{ content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }
.eui_lightbox .carousel .carousel_wrapper{ float:left; position:relative; height:75px; overflow:hidden; margin:0 6px; }
.eui_lightbox .carousel .carousel_list{ position:absolute; height:72px; padding-top:3px; list-style:none; }
.eui_lightbox .carousel .carousel_list:after{ content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }
.eui_lightbox .carousel .carousel_list li{ float:left; padding:0 9px; width:67px; }
.eui_lightbox .carousel .carousel_list img{ width:65px; height:65px; border:1px solid #0d0d0f; cursor:pointer; box-shadow:0 0 2px rgba(0, 0, 0, 0.3); display:block; }
.eui_lightbox .carousel .carousel_list .current img{ border-color:#4eb51b; }
.eui_lightbox .carousel .carousel_arrow{ float:left; width:10px; height:20px; padding:26px 5px; overflow:hidden; }
.eui_lightbox .carousel .carousel_arrow:hover{ background:#070707; }
.eui_lightbox .carousel .carousel_arrow span{ width:10px; height:20px; display:block; text-indent:-999em; cursor:pointer; opacity:0.5; filter:alpha(opacity=50); }
.eui_lightbox .carousel .carousel_prev span{ background-position:0 -207px; }
.eui_lightbox .carousel .carousel_next span{ background-position:-75px -207px; }
.eui_lightbox .carousel .carousel_arrow:hover span{ opacity:1; filter:alpha(opacity=100); }

.eui_lightbox .lb_sidebar{ width:240px; padding:0 20px; float:left; background:#2c2c2c; height:100%; overflow-y:auto; }
.lb_sidebar .photo_title{ font-size:14px; font-weight:700; color:#ccc; line-height:35px; padding:20px 0 5px; }
.lb_sidebar .photo_desc{ color:#999; padding-bottom:18px; }
.lb_sidebar h6{ font-size:14px; font-weight:400; color:#ccc; line-height:35px; border-top:1px solid #3c3c3c; padding-top:8px; }
.exif_list{ line-height:24px; width:100%; overflow:hidden; padding-bottom:14px; }
.exif_list dt{ float:left; clear:left; color:#666; width:55px; text-align:right; padding-right:20px; }
.exif_list dd{ float:left; color:#999; }

.comment_list{ padding-top:10px; width:100%; }
.comment_list li{ padding-bottom:30px; width:100%; overflow:hidden; }
.comment_list a{ color:#666; text-decoration:none; }
.comment_list a:hover{ color:#ccc; text-decoration:underline; }
.comment_list .com_left{ float:left; margin-right:20px; }
.comment_list .com_right{ overflow:hidden; *zoom:1; color:#999; }
.comment_list .com_info{ margin-top:-3px; }
.comment_list .com_author{ display:block; }
.comment_list .com_date{ color:#444; font-family:arial; }
.comment_list .com_content{ padding-top:5px; }

#respond{ width:100%; padding-bottom:20px; }
#respond a{ color:#666; text-decoration:none; }
#respond a:hover{ color:#ccc; text-decoration:underline; }
#respond li{ width:100%; overflow:hidden; padding-bottom:10px; }
#respond label{ color:#666; width:40px; float:left; line-height:24px; }
#respond input{ float:left; width:150px; height:16px; padding:4px; border:0 none; background:#333; color:#999; font-size:12px; }
#respond input:focus{ background:#444; }
#respond span{ float:left; width:20px; text-align:center; color:#666; line-height:24px; }
#respond textarea{ float:left; width:172px; padding:4px; height:80px; border:0 none; background:#333; color:#999; font-size:12px; font-family:'microsoft yahei'; }
#respond textarea:focus{ background:#444; }
#respond #submit{ width:80px; height:26px; border:1px solid #3c3c3c; background:#333; color:#999; line-height:26px; padding:0; float:none; font-family:'microsoft yahei'; cursor:pointer; margin:10px 0 0 40px; }
#respond #submit:hover{ background:#444; border-color:#555; }


