/* @module slider */

.eui_slider{ background:#c6c6c6; position:relative; width:12px; height:12px; overflow:hidden; }
.eui_slider .sd_complete{ width:100%; height:100%; position:absolute; z-index:1; background:#2d89ef; }
.eui_slider:hover .sd_complete{ background:#439bfd; }
.eui_slider .sd_thumb{ width:12px; height:12px; position:absolute; z-index:2; overflow:hidden; background:#1a1a1a; cursor:pointer; outline:none; }