@charset "utf-8";
/* 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}   
fieldset, img {border:0;}   
table{border-collapse:collapse;border-spacing:0;}   
ol, ul {list-style:none;}   
address, caption, cite, code, dfn, em, strong, th, var {font-weight:normal;font-style:normal;}   
caption, th {text-align:left;}   
h1, h2, h3, h4, h5, h6 {font-size:100%;}   
q:before, q:after {content:'';}   

.clearfix { *zoom:1}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }

a{ color:#06c; text-decoration:none; }
a:hover{ text-decoration:underline; }
button::-moz-focus-inner{ border:0; padding:0; margin:0; }

body{ color:#333; font:14px/24px 'microsoft yahei'; background:url(body_bg.png) repeat-y 0 0; }

/* slidebar */
.slidebar{ width:260px; float:left; }
.top_box{ height:60px; padding:20px 0 20px 20px; border-bottom:5px solid #fff; background:#028fc4; }
.logo{ font-size:30px; font-weight:300; height:60px; line-height:54px; color:#fff; float:left; font-family:arial; }
.sub_logo{ font-size:30px; font-weight:300; color:#028fc4; float:left; background:#fff; height:40px; line-height:35px; padding:0 8px; margin:10px 0 0 8px; font-family:arial; }
.page_title{ font-family:segoe ui, verdana, arial, sans-serif; font-size:30px; color:#333; height:60px; line-height:60px; font-weight:300; padding-left:20px; border-bottom:1px solid #ccc; }
.page_title span{ font-size:11px; color:#666; font-family:arial; padding-left:10px; font-weight:700; -webkit-text-size-adjust:none; }

/* menu */
.menu_left{ width:260px; overflow:hidden; padding-top:20px; }
.menu_left a{ height:34px; line-height:34px; border:solid #f0f0f0; border-width:2px 0; width:240px; color:#666; text-decoration:none; padding-left:20px; display:block; }
.menu_left a:hover{ border-color:#fff; background:#028fc4; color:#fff; text-decoration:none; }
.menu_left .current a{ width:240px; border-left:solid #222; padding-left:16px; height:38px; line-height:38px; border-width:0 0 0 4px; font-weight:700; color:#333; }
.menu_left .current a:hover{ border-left:solid #028fc4; height:34px; line-height:34px; border-width:2px 0 2px; color:#fff; padding-left:20px; }

/* content */
.content{ width:670px; float:left; padding:49px 0 50px 70px; } 
.caption{ height:50px; line-height:50px; overflow:hidden; border-bottom:1px solid #e0e0e0; margin-bottom:30px; } 
.caption h2{ font-size:28px; font-family:arial; float:left; height:50px; line-height:50px; } 
.caption h2 span{ font-size:16px; color:#666; font-weight:400; line-height:30px; position:relative; top:-3px; } 
.caption h2 em{ font-style:italic; color:#999; } 
.caption .type{ font-size:12px; color:#fff; height:20px; line-height:20px; width:65px; text-align:center; float:left; margin:18px 0 0 10px; } 
.caption .static{ background:#bbb; } 
.caption .constructor{ background:#028fc4; } 
.caption .prototype{ background:#46ca3b; } 
.caption .global{ background:#252525; } 
.caption .file{ float:right; font-size:13px; color:#666; line-height:60px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.caption .data_type{ float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#666; font-size:13px; margin:2px 0 0 10px; }

.mod_desc{ background:#f5f5f5; padding:20px 20px 0; } 
.mod_desc p{ padding-bottom:20px; }

.api_list{ margin-top:30px; width:670px; overflow:hidden; } 
.api_list dt{ font-size:18px; height:30px; line-height:30px; margin-bottom:10px; } 
.api_list dd{ width:167px; float:left; line-height:28px; } 
.two_row dd{ width:335px; } 
.api_list a{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; } 
.api_list em{ font-size:11px; font-weight:700; padding-left:8px; color:#999; -webkit-text-size-adjust:none; font-family:arial; }

.params_box,
.returns_box,
.article_box{ margin-top:30px; } 
.params_box h5,.returns_box h5,.example_box h5{ line-height:30px; } 

.params_list li,
.returns_list li{ padding-bottom:10px; border-bottom:1px solid #e5e5e5; }
.params_list dl{ height:30px; line-height:30px; overflow:hidden; color:#ccc; margin-top:10px; }
.params_list dt,.returns_box h6{ float:left; font-family:arial; font-weight:700; margin-right:20px; color:#333; }
.params_list dd{ float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#666; font-size:13px; margin-right:8px; }
.params_list em{ margin-left:8px; }

.params_desc .type{ font-size:12px; color:#fff; height:20px; line-height:20px; width:45px; text-align:center; float:left; margin:2px 10px 0 0; }
.params_desc .required{ background:#46ca3b; }
.params_desc .optional{ background:#bbb; }
.params_desc p,
.returns_box p{ overflow:hidden; *zoom:1; font-size:13px; }
.params_list li ul{ overflow:hidden; *zoom:1; }
.params_list li li{ border:0 none; padding-bottom:5px; }
.params_list li li span{ float:left; margin:2px 10px 0 0; font-size:12px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.returns_box h5,
.example_box h5{ margin-bottom:10px; }

.returns_box li{ margin-bottom:10px; }

.example_box{ margin-top:30px; }
.example_box h6{ font-size:12px; line-height:30px; margin-top:5px; }
.example_box p{ font-size:13px; color:#666; margin-bottom:10px; width:670px; overflow:hidden; }
.example_box .code_box{ border-left:2px solid #028fc4; width:668px; overflow-x:auto; margin-bottom:20px; background:#f8f8f8; }
.example_box .code_box pre{ font-family: "Consolas","Courier New",Courier,mono; font-size: 13px; line-height: 18px; padding:10px 20px; }
.example_box .btn{ border:1px solid; border-radius:2px; cursor:pointer; font-family:"Microsoft yahei", Arial; font-size:12px; width:50px; height:22px; line-height:22px; display:block; text-align:center; border-color:#c3c3c3; background:#ececec; color:#333; background:-webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4)); background:-moz-linear-gradient(90deg,#ececec,#f4f4f4); text-decoration:none; margin:0 10px 10px 0; float:left; }
.example_box .btn:hover{ color:#333; text-decoration:none; }
.example_box .long_btn{ width:120px; }

.article_box h3{ font-size:22px; font-weight:400; font-family:arial; line-height:30px; margin-bottom:10px; color:#000; border-bottom:1px dotted #999; display:inline-block; }
.article_box p{ padding-bottom:20px; }
.article_box .highlight{ padding:0 5px; background:#f0f0f0; }

.props_tb{ width:670px; border-collapse:collapse; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-top:30px; }
.props_tb tr td{ line-height:20px; padding:5px 0; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#666; font-size:13px; }
.props_tb tr .t_l{ text-align:left; padding:5px 10px; }
.props_tb .even td{ background:#f5f5f5; }
.props_tb tr .bg_white{ background:#fff; }
.props_tb th{ background:#f5f5f5; line-height:40px; border-right:1px solid #e5e5e5; font-weight:700; border-top:2px solid #028fc4; text-align:center; }
.props_tb p{ line-height:20px; padding:5px 0; color:#666; }
.props_tb .name{ font-family:arial; color:#333; font-size:14px; }
.props_tb .type{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#666; }

.demo_box{ border-left:2px solid #bbb; width:628px; margin-bottom:20px; background:#f8f8f8; padding:10px 20px; position:relative; } 
.demo_box p{ margin:0; }
.anim_box{ width:670px; height:100px; position:relative; padding-bottom:20px; }
.anim_box div{ width:100px; height:100px; background:#2c2c2c; position:absolute; line-height:100px; border:0px solid #028fc4; font-size:32px; color:#fff; text-align:center; overflow:hidden; font-family:"Lucida Sans Unicode",​"Lucida Grande",​sans-serif; }

.console_box{ width:662px; border:4px solid #f5f5f5; min-height:60px; height:auto; _height:60px; padding:10px 0; }
.console_box li{ width:632px; margin:0 auto; padding:0 5px; height:29px; line-height:29px; border-bottom:1px solid #e5e5e5; font-family:arial; }


